<h1>Hello,</h1>
<p>I'm Jeremy. I'm a student at Columbia in NYC. I'm interested in <a href="https://www.youtube.com/watch?v=iZM_JmZdqCw">technology</a>, <a href="http://www.perseus.tufts.edu/hopper/text?doc=Perseus%3Atext%3A1999.01.0058%3Abook%3D1%3Asection%3D1259a">philosophy</a> and investing. I enjoy <a href="https://25iq.com/2015/07/26/a-dozen-things-charlie-munger-has-said-about-reading/">reading</a> books, and <a href="http://www.gutenberg.org/ebooks/1022">walking</a> in nature. </p> 

<p> I was on the founding team of a <a href="https://techvibes.com/2015/10/08/mediacore-acquired-by-work-2015-10-08">successful venture backed startup</a> and also worked in <a href="http://tiny.website">private equity</a>.</p> <p>I try to avoid boring people</a>, in both senses of the phrase. That being said, I love learning new things so feel free to send me an email.</p>

<!--<h2>Features</h2>
<ul>
  <li>Responsive design</li>
  <li>Mobile friendly</li>
  <li>Easy deployment to <a href="https://pages.github.com/">GitHub Pages</a></li>
</ul>

<p>For more information, including setup and configuration instructions, bug reports or feature requests head over to <a href="https://github.com/excentris/compass">GitHub</a>.</p> -->

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-envelope-o fa-lg main-list-item-icon"></span>
    <a href="mailto:jeremy@giffon.me">Email</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-linkedin-square fa-lg main-list-item-icon"></span>
    <a href="https://www.linkedin.com/in/jeremygiffon/">LinkedIn</a>
  </li>
</ul>
